body
{
    background-color: #bbbfca;
    margin: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

div{
    display: inline-block;
    padding: 20px;   
}

.a{
    text-align: right;
    padding: 20px;
    direction: rtl;
    font-size: 15px; 
}
h1
{
    color:#14274e;
    text-align: center;
     
}

img
{
    width: 165px;
    border-radius: 50%;
    margin: 20px;
}

p
{
    font-size: 20px;
}

header p
{
    color: #061535;
    line-height: 1.5;
}
ul
{
    color: #061535;
    font-size: 20px;

}


main p:nth-child(odd)
{
    color: #9ba4b4;
    background-color: #383e56;
    margin: 15px;
    border: solid;
    border-radius: 10px;
    border-color:#cad7ee ;
    padding: 15px;
} 

main p:nth-child(even)
{
    color: #383e56;
    background-color:#9ba4b4 ;
    margin: 15px;
    border: solid;
    border-radius: 10px;
    border-color:  #383e56;
    padding: 15px;
}
h2
{
    color:#1e212d;
    margin: 10px;
}

ol
{
   list-style-type: upper-alpha;
   color: #061535;
   font-size: 20px;
   
}